

<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="shortcut icon" href="https://pbs.twimg.com/profile_images/667711300814925824/5RSRUymL.jpg" />

<div class="bloque">
  <div class="pagina">
    <div class="container">
      <div class="login-container">               
          <form class="form-horizontal">
            <fieldset><!-- Form Name -->
                <legend>Revise su cuenta de correo electrónico ***@atos.net para recuperar la contraseña</legend><!-- Password input-->
               

<!-- Button (Double) -->
                <div class="form-group">
                    <button class="btn btn-info btn-block-login" type="Aprobación">Enviar</button>
                </div>
          </fieldset>
        </form>
      </div>
    </div>
    <footer>
       
    </footer>
  </div>
</div>


