

  
  
  <div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">    
    <h2>Añadir una nueva Persona</h2>
    <form (ngSubmit)="onSubmit()" #formpro="ngForm">
        
        <div class="form-group">
          <label>DAS</label>
          <label>C.I.F.</label>
           <i class="fa fa-check-circle check" 
               *ngIf="das.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="das.invalid && das.touched"></i>
          <input type="text" 
                 class="form-control"
                 id="das"
                 name="das"
                 ngModel
                 required
                 #das="ngModel">
          <p class="alert alert-danger" *ngIf="das.invalid && das.touched">
            El campo DAS es obligatorio.
          </p>
        </div>
        <div class="form-group">  
          <label>Nombre</label>
          <i class="fa fa-check-circle check" 
               *ngIf="nombre.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="nombre.invalid && nombre.touched"></i>
          <input type="text" 
                 class="form-control"
                 id="nombre"
                 name="nombre"
                 ngModel
                 required
                 #nombre="ngModel">
          <p class="alert alert-danger" *ngIf="nombre.invalid && nombre.touched">
            El campo nombre es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label>Apellido</label>
          <label>Dirección</label>

           <i class="fa fa-check-circle check" 
               *ngIf="apellido.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="apellido.invalid && apellido.touched"></i>
          <input type="text" 
                 class="form-control"
                 id="apellido"
                 name="apellido"
                 ngModel
                 required
                 #apellido="ngModel">
          <p class="alert alert-danger" *ngIf="apellido.invalid && apellido.touched">
            El campo Apellido es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label>Status (con acceso/sin acceso)</label>
          <label>Código Postal</label>
           <i class="fa fa-check-circle check" 
               *ngIf="cp.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="cp.invalid && cp.touched"></i>
          <input type="text" 
                 class="form-control"
                 id="cp"
                 name="cp"
                 ngModel
                 required
                 #cp="ngModel">
          <p class="alert alert-danger" *ngIf="cp.invalid && cp.touched">
            El campo Código Postal es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label>Password</label>
          <label>Localidad</label>
           <i class="fa fa-check-circle check" 
               *ngIf="password.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="password.invalid && password.touched"></i>
          <input type="text" 
                 class="form-control"
                 id="password" 
                 name="password"
                 ngModel
                 required
                 #password="ngModel">
          <p class="alert alert-danger" *ngIf="password.invalid && password.touched">
            El campo password es obligatorio.
          </p>
        </div>
       <!-- <div class="form-group">
          <label for="provincia">Provincia</label>
           <i class="fa fa-check-circle check" 
               *ngIf="provincia.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="provincia.invalid && provincia.touched"></i> 
          <select class="form-control" 
                  id="provincia"
                  ngModel
                  name="provincia"
                  required
                  #provincia="ngModel">
                  <option value="">Seleccione la provincia</option> 
                  <option *ngFor="let provincia of provincias"
                  [value]="provincia">{{provincia}} </option> 
          </select>
          <p class="alert alert-danger" *ngIf="provincia.invalid && provincia.touched">
            El campo Provincia es obligatorio.
          </p>
        </div> 
      -->
        
        
      <button type="submit" 
              class="btn btn-success"
              [disabled]="!formpro.valid"
              >Añadir Persona</button>
      <p class="alert alert-danger " *ngIf="!formpro.valid">
        Por favor complete todos los campos
      </p> 
      <!--
    <hr>
      <pre> Estado Dirty: {{ formpro.controls.email.dirty }}</pre>
      <pre> Estado Pristine: {{ formpro.controls.email.pristine }}</pre>
      <pre> Estado Touched: {{ formpro.controls.email.touched }}</pre>
      <pre> Estado Valid: {{ formpro.controls.email.valid }}</pre>
      <pre> Estado Invalid: {{ formpro.controls.email.invalid }}</pre>
      -->
    </form>
  </div>
</div>

  
  