  <div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">    
    <h2>Añadir una nueva Persona</h2>
    <form  [formGroup]="personasForm">
        
        <div class="form-group">
          <label for="das">DAS</label>
          <label>C.I.F.</label>
           <i class="fa fa-check-circle check" 
               ></i>
          <i class="fa fa-exclamation-circle uncheck"
               ></i>
          <input type="text" 
                 class="form-control"
                 id="das"
                 name="das"                 
                formControlName="das">
          <p class="alert alert-danger" >
            El campo DAS es obligatorio.
          </p>
        </div>
        <div class="form-group">  
          <label for="nombre">Nombre</label>
          <i class="fa fa-check-circle check" 
               ></i>
          <i class="fa fa-exclamation-circle uncheck"
               ></i>
          <input type="text" 
                 class="form-control"
                 id="nombre"
                 name="nombre"                 
                 formControlName="nombre">
          <p class="alert alert-danger" >
            El campo nombre es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <label>Dirección</label>

           <i class="fa fa-check-circle check" 
              ></i>
          <i class="fa fa-exclamation-circle uncheck"></i>
          <input type="text" 
                 class="form-control"
                 id="apellido"
                 name="apellido"                 
                 formControlName="apellido">
          <p class="alert alert-danger" >
            El campo Apellido es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label>Status (con acceso/sin acceso)</label>
          <label for="cp">Código Postal</label>
           <i class="fa fa-check-circle check" 
               ></i>
          <i class="fa fa-exclamation-circle uncheck"
               ></i>
          <input type="text" 
                 class="form-control"
                 id="cp"
                 name="cp"                 
                 formControlName="cp">
          <p class="alert alert-danger">
            El campo Código Postal es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <label>Localidad</label>
           <i class="fa fa-check-circle check" 
               ></i>
          <i class="fa fa-exclamation-circle uncheck"
               ></i>
          <input type="text" 
                 class="form-control"
                 id="password" 
                 name="password"                
                 formControlName="password">
          <p class="alert alert-danger" >
            El campo password es obligatorio.
          </p>
        </div>
       <!-- <div class="form-group">
          <label for="provincia">Provincia</label>
           <i class="fa fa-check-circle check" 
               *ngIf="provincia.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="provincia.invalid && provincia.touched"></i> 
          <select class="form-control" 
                  id="provincia"
                  ngModel
                  name="provincia"
                  required
                  #provincia="ngModel">
                  <option value="">Seleccione la provincia</option> 
                  <option *ngFor="let provincia of provincias"
                  [value]="provincia">{{provincia}} </option> 
          </select>
          <p class="alert alert-danger" *ngIf="provincia.invalid && provincia.touched">
            El campo Provincia es obligatorio.
          </p>
        </div> 
      -->
        
        
      <button type="submit" 
              class="btn btn-success"
              [disabled]="!formpro.valid"
              >Añadir Persona</button>
      <p class="alert alert-danger " *ngIf="!formpro.valid">
        Por favor complete todos los campos
      </p> 
      <!--
    <hr>
      <pre> Estado Dirty: {{ formpro.controls.email.dirty }}</pre>
      <pre> Estado Pristine: {{ formpro.controls.email.pristine }}</pre>
      <pre> Estado Touched: {{ formpro.controls.email.touched }}</pre>
      <pre> Estado Valid: {{ formpro.controls.email.valid }}</pre>
      <pre> Estado Invalid: {{ formpro.controls.email.invalid }}</pre>
      -->
    </form>
    <pre>
      Valor del formulario : {{ personasForm.value | json}}
    </pre>
    <pre>
      Estado del formulario : {{ personasForm.status | json}}
    </pre>
  </div>
</div>

  
  