<div class="contenedor">
  <div class="contenedor-personas">
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    <div class="persona" (click)="confirmar()">
      <div class="imagen">
        <img src="../../../assets/usuario.png">
      </div>
      <div class="das">
        A680000
      </div>
    </div>
    
  </div>
</div>
