
<app-nav-tareas></app-nav-tareas>
<div class="container table-responsive">
  <table class=" table table-bordered table-striped">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let presupuesto of presupuestos">
        <td>{{ presupuesto.nombre }}</td>
        <td>{{ presupuesto.descripcion }}</td>
        <td>{{ presupuesto.visible }}</td>
        <td><button >BORRAR</button></td>
      </tr>
    </tbody>
  </table>
</div>
