
  
  
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="https://pbs.twimg.com/profile_images/667711300814925824/5RSRUymL.jpg" />



<button class="btn btn-info btn-block-log-out" type="submit">Log Out</button>





<div class="pagina">
<div class="container">
  <div class="row">
    <!--<h2>Crop</h2>-->
    <form class="form-vertical">
      <fieldset>
<!-- Form Name -->
        <legend>Bienvenido Administrador</legend>

<!-- Select Basic -->
          <div class="control-group">
             <label class="control-label" for="selectbasic">Personas</label>
              <div class="controls">
                <select id="selectbasic" name="selectbasic" class="input-medium">
                     <option>Dar de alta</option>
                     <option>Dar de baja</option>
                     <option>Modificar</option>
                 </select>
              </div>
           </div>

<!-- Select Basic -->
            <div class="control-group">
              <label class="control-label" for="selectbasic">Tareas</label>
              <div class="controls">
                <select id="selectbasic" name="selectbasic" class="input-medium">
                  <option>Dar de alta</option>
                  <option>Dar de baja</option>
                  <option>Modificar</option>
                </select>
              </div>
            </div>


              <div class="control-group">
                <label class="control-label" for="selectbasic">Asignar Tareas</label>
                <div class="controls">
                  <select id="selectbasic" name="selectbasic" class="input-medium">
                    <option>Usuario 1: Administrador</option>
                    <option>Usuario 2: Usuario estandar</option>
                  </select>
                </div>
              </div>


              <div class="cajas-usuarios">
                  
                  <!--<div class="mensaje">Selecciona un usuario para ver las tareas que puede usar o asignarle nuevas</div>-->
                 
                  <!--ESTO SE VA A SUSTITUIR POR ESTO OTRO -->

                  <div class="mensaje">
                     <h4>tareas disponibles</h4>
                    
                        <div class="Tareas-disponibles">
                          <label><input type="checkbox" id="cbox1" value="first_checkbox">saludar</label>
                        </div>
                        <div class="Tareas-disponibles">
                          <label><input type="checkbox" id="cbox1" value="first_checkbox">enviar mensajes</label>
                        </div>

                        <label><input type="checkbox" id="cbox2" value="second_checkbox">seleccionar todas</label>
                       
                        <button class="btn btn-info btn-block-añadir" type="submit">Add</button>
                </div>


                        
                
                
              </div>




        </fieldset>
   
                  </form>

       
	</div>
</div>
<footer>
       
</footer>
</div>