
<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="shortcut icon" href="https://pbs.twimg.com/profile_images/667711300814925824/5RSRUymL.jpg" /> 


<div class="bloque">
    <div class="pagina">
        <div class="container">
            <div class="login-container">
                <div id="output"></div>
                <div class="avatar"></div>
                <div class="form-box">
                    <form action="" method="">
                        <input name="user" type="text" placeholder="DAS" [(ngModel)]="das">
                        <!--hay que poner el name sino se confunden lo ngModel -->
                        <input type="password" placeholder="PASSWORD" [(ngModel)]="password" name="password">
                        <div id="remember" class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>                        
                    </form><!-- /form -->
                    <a routerLink="/cambiarPass" class="forgot-password">
                        Forgot the password?
                    </a>
                </div><!-- /card-container -->
                <!-- cambiar lo del click, validar con el submit -->
                <button (click)="validado()" class="btn btn-info btn-block-login" type="submit" >Login</button>
                
            </div>
        </div>
        <footer>
           
        </footer>
    </div>
</div>