    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">    
      <h2>Añadir una nueva Persona</h2>

          <div class="form-group">
            
              
              <a class="nav-link" routerLink="/login">Login </a>
          	  <a class="nav-link" routerLink="/usuario">Usuario</a>
          	  <a class="nav-link" routerLink="/recuperarPass">RecuperarPass</a>
          	  <a class="nav-link" routerLink="/cambiarPass">CambiarPass</a>
          	  <a class="nav-link" routerLink="/addTarea">Añadir Tarea</a>
          	  <a class="nav-link" routerLink="/delTarea">Borrar Tarea</a>
          	  <a class="nav-link" routerLink="/modTarea">Modificar Tarea</a>
          	  <a class="nav-link" routerLink="/addPersona">Añadir Persona</a>
          	  <a class="nav-link" routerLink="/delPersona">Borrar Persona</a>
          	  <a class="nav-link" routerLink="/modPersona">Modificar Persona</a>
          	  
          	  
          </div>
    </div>
