

<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="shortcut icon" href="https://pbs.twimg.com/profile_images/667711300814925824/5RSRUymL.jpg" />

<div class="bloque">
  <div class="pagina">
    <div class="container">
      <div class="login-container">               
          <form class="form-horizontal">
            <fieldset><!-- Form Name -->
                <legend>Modifica la contraseña para iniciar sesión</legend><!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="piCurrPass">Contraseña actual</label>
                    <div class="col-md-4">
                      <input id="password" name="contraseña actual" type="password" 
                      placeholder="contraseña" class="form-control input-md" 
                      required="Inserre la contraseña actual">      
                    </div>
                </div>
<!-- Password input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="piNewPass">Nueva contraseña</label>
                  <div class="col-md-4">
                    <input id="newpassword" name="nueva contraseña" type="password" 
                    placeholder="nueva contraseña" class="form-control input-md" 
                    required="Inserte nueva contraseña">    
                   </div>
                </div>
<!-- Password input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="piNewPassRepeat">Repita la contraseña nueva</label>
                  <div class="col-md-4">
                     <input id="repeatnewpassword" name="Repita nueva contraseña" 
                     type="password" placeholder="repita contraseña" class="form-control input-md" 
                     required="Repita contraseña">

                  </div>
                </div>

<!-- Button (Double) -->
                <div class="form-group">
                    <button class="btn btn-info btn-block-login" type="Aprobacióm">Modificar Contraseña</button>
                </div>
          </fieldset>
        </form>
      </div>
    </div>
    <footer>
       
    </footer>
  </div>
</div>














